
.locations {
  margin: auto 0;
  width: 300px
}

.location {
  font-family: var(--font-labelleaurore);
  cursor: pointer;
  font-size: 24px;
}

.location:hover, .location.selected {
  color: #005CAF;
}

.shanghai:hover, .shanghai.selected {
  color: #CB4042;
}

.posts {
  margin: auto 0;
}

.post {
  color: #005CAF;
  padding: 8px 0;
  font-size: 20px;
  border-bottom: 1px solid;
}

.post.shanghai {
  color: #CB4042;
}

.post:last-child {
  border-bottom: none;
}